.todo-list {
    font-family: Arial, serif;
    text-align: center;
}

ol {
    padding: 0;
    width:100%;
    margin-left: 0;
    margin-bottom: 0
}

li {
    padding: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: lightgrey;

    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;

    cursor: pointer;
}

.text {
    flex: 1;
}
